@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/** GENERAL **/

#root{
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin : 30px;
}


button{
    background-color: rgb(59, 39, 151);
    color:white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width : 400px;
    height: 40px;
}

form, .result {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invisible {
    display : none;
}

.alert {
    color: rgb(238, 81, 81);
}


/** FORM **/

form > * {
    margin : 10px;
}

label {
    width : 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    margin : 10px 0;
    width : 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(148, 148, 148);
    color :rgb(148, 148, 148);
    background-color: rgb(235, 235, 235);
}

input::placeholder {
    padding:5px;
    font-size: 16px;
}

/** Result **/
.result .info {
    margin : 20px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    width : 500px;
}

.result .info p {
    margin : 30px;
}

.result button {
    width: 200px;
}